Job Search-n8n.json
{
  "name": "New Test WF",
  "nodes": [
    {
      "parameters": {
        "path": "job-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "938fb55b-1204-4154-9a7a-75435c98bf9d",
      "name": "Serve Form Page",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "09794e89-4dc0-4c2e-8b05-f5456e9f1e90"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<title>Job Search</title>\n<style>\n:root{--accent:#2563eb;--accent-dark:#1e4fca;--border:#e2e2e2;--bg:#f7f8fa;--text:#1f2430;--muted:#6b7280;}\n*{box-sizing:border-box;}\nbody{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;margin:0;background:var(--bg);color:var(--text);}\n.container{max-width:640px;margin:40px auto;padding:0 20px;}\nh1{font-size:26px;margin-bottom:4px;}\np.hint{color:var(--muted);font-size:14px;margin-top:0;}\nlabel{display:block;margin-top:14px;font-weight:600;font-size:13px;}\ninput[type=text],input[type=number],select{width:100%;padding:9px 10px;margin-top:5px;font-size:14px;border:1px solid var(--border);border-radius:6px;background:#fff;}\ninput:focus,select:focus{outline:2px solid var(--accent);outline-offset:1px;}\nbutton.primary{margin-top:22px;padding:11px 24px;background:var(--accent);color:#fff;border:none;border-radius:6px;cursor:pointer;font-size:15px;font-weight:600;}\nbutton.primary:hover{background:var(--accent-dark);}\nbutton.primary:disabled{opacity:.6;cursor:default;}\nbutton.secondary{padding:8px 16px;background:#fff;color:var(--accent);border:1px solid var(--accent);border-radius:6px;cursor:pointer;font-size:14px;font-weight:600;}\n.link-btn{background:none;border:none;color:var(--accent);cursor:pointer;font-size:12px;font-weight:600;padding:0;margin-left:6px;text-decoration:underline;}\n#loadingOverlay{display:none;position:fixed;inset:0;background:rgba(255,255,255,.92);align-items:center;justify-content:center;flex-direction:column;z-index:999;}\n.spinner{width:42px;height:42px;border:4px solid var(--border);border-top-color:var(--accent);border-radius:50%;animation:spin .8s linear infinite;}\n@keyframes spin{to{transform:rotate(360deg);}}\n#countryModalOverlay{display:none;position:fixed;inset:0;background:rgba(0,0,0,.4);align-items:center;justify-content:center;z-index:1000;}\n#countryModal{background:#fff;border-radius:8px;max-width:420px;width:90%;max-height:70vh;display:flex;flex-direction:column;padding:20px;}\n#countryModal h2{margin:0 0 10px;font-size:18px;}\n#countryModal input{margin-bottom:10px;}\n#countryList{overflow-y:auto;flex:1;border-top:1px solid var(--border);}\n.country-row{display:flex;justify-content:space-between;padding:6px 4px;border-bottom:1px solid #f0f0f0;font-size:13px;}\n.country-row code{background:#f0f2f5;padding:1px 6px;border-radius:4px;font-weight:600;}\n.close-btn{align-self:flex-end;margin-top:12px;}\n</style>\n</head>\n<body>\n<div class=\"container\">\n<h1>Job Search</h1>\n<p class=\"hint\">Search job postings via JSearch. Job Title is required &mdash; leave the rest blank to use defaults.</p>\n<form id=\"searchForm\" method=\"POST\" action=\"/webhook/job-search\">\n  <label>Job Title *<input type=\"text\" name=\"job_title\" required placeholder=\"e.g. software engineer\"></label>\n  <label>City<input type=\"text\" name=\"city\" placeholder=\"e.g. chicago\"></label>\n  <label>Country <button type=\"button\" class=\"link-btn\" onclick=\"document.getElementById('countryModalOverlay').style.display='flex';document.getElementById('countryFilter').focus();\">view codes</button><input type=\"text\" name=\"country\" placeholder=\"us\"></label>\n  <label>Language<input type=\"text\" name=\"language\" placeholder=\"en\"></label>\n  <label>Date Posted\n    <select name=\"date_posted\">\n      <option value=\"\">(any)</option>\n      <option value=\"all\">all</option>\n      <option value=\"today\">today</option>\n      <option value=\"3days\">3days</option>\n      <option value=\"week\">week</option>\n      <option value=\"month\">month</option>\n    </select>\n  </label>\n  <label>Remote Only\n    <select name=\"work_from_home\">\n      <option value=\"\">(any)</option>\n      <option value=\"true\">true</option>\n      <option value=\"false\">false</option>\n    </select>\n  </label>\n  <label>Employment Types<input type=\"text\" name=\"employment_types\" placeholder=\"FULLTIME, CONTRACTOR, PARTTIME, INTERN\"></label>\n  <label>Job Requirements<input type=\"text\" name=\"job_requirements\" placeholder=\"under_3_years_experience, no_degree, ...\"></label>\n  <label>Radius (km)<input type=\"number\" name=\"radius\"></label>\n  <label>Num Pages (per request)<input type=\"number\" name=\"num_pages\" placeholder=\"1\"></label>\n  <button type=\"submit\" id=\"searchBtn\" class=\"primary\">Search Jobs</button>\n</form>\n</div>\n<div id=\"loadingOverlay\"><div class=\"spinner\"></div><p style=\"margin-top:16px;font-weight:600;\">Searching JSearch&hellip; this can take up to 15 seconds.</p></div>\n<div id=\"countryModalOverlay\" onclick=\"if(event.target===this) this.style.display='none';\">\n  <div id=\"countryModal\">\n    <h2>Country Codes</h2>\n    <p class=\"hint\" style=\"margin:0 0 8px;\">Used with the Country field above (ISO code).</p>\n    <input type=\"text\" id=\"countryFilter\" placeholder=\"Filter countries...\" onkeyup=\"filterCountries()\">\n    <div id=\"countryList\"></div>\n    <button type=\"button\" class=\"secondary close-btn\" onclick=\"document.getElementById('countryModalOverlay').style.display='none';\">Close</button>\n  </div>\n</div>\n<script>\ndocument.getElementById('searchForm').addEventListener('submit', function(){\n  document.getElementById('searchBtn').disabled = true;\n  document.getElementById('loadingOverlay').style.display = 'flex';\n});\nvar COUNTRIES=[[\"dz\",\"Algeria\"],[\"ao\",\"Angola\"],[\"ar\",\"Argentina\"],[\"at\",\"Austria\"],[\"br\",\"Brazil\"],[\"ca\",\"Canada\"],[\"cl\",\"Chile\"],[\"co\",\"Colombia\"],[\"eg\",\"Egypt\"],[\"fr\",\"France\"],[\"de\",\"Germany\"],[\"gh\",\"Ghana\"],[\"gr\",\"Greece\"],[\"hk\",\"Hong Kong\"],[\"in\",\"India\"],[\"id\",\"Indonesia\"],[\"iq\",\"Iraq\"],[\"it\",\"Italy\"],[\"jp\",\"Japan\"],[\"ke\",\"Kenya\"],[\"my\",\"Malaysia\"],[\"mx\",\"Mexico\"],[\"nl\",\"Netherlands\"],[\"ng\",\"Nigeria\"],[\"om\",\"Oman\"],[\"pk\",\"Pakistan\"],[\"pa\",\"Panama\"],[\"ph\",\"Philippines\"],[\"pt\",\"Portugal\"],[\"qa\",\"Qatar\"],[\"ru\",\"Russia\"],[\"sa\",\"Saudi Arabia\"],[\"sg\",\"Singapore\"],[\"so\",\"Somalia\"],[\"za\",\"South Africa\"],[\"es\",\"Spain\"],[\"lk\",\"Sri Lanka\"],[\"ch\",\"Switzerland\"],[\"tw\",\"Taiwan\"],[\"th\",\"Thailand\"],[\"ae\",\"United Arab Emirates\"],[\"gb\",\"United Kingdom (or uk)\"],[\"us\",\"United States\"],[\"vn\",\"Vietnam\"]];\nfunction renderCountries(filter){\n  var list=document.getElementById('countryList');\n  var f=(filter||'').toLowerCase();\n  var html='';\n  COUNTRIES.forEach(function(c){\n    if(!f || c[1].toLowerCase().indexOf(f)>-1 || c[0].indexOf(f)>-1){\n      html+='<div class=\"country-row\"><span>'+c[1]+'</span><code>'+c[0]+'</code></div>';\n    }\n  });\n  list.innerHTML=html;\n}\nfunction filterCountries(){ renderCountries(document.getElementById('countryFilter').value); }\nrenderCountries('');\n</script>\n</body>\n</html>\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "feb8a94a-e339-4c32-910b-b1dc8edd80d7",
      "name": "Respond With Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "job-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c58d6902-6825-4962-8dea-54754de92d1c",
      "name": "Receive Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        256
      ],
      "webhookId": "ea086a35-7ea7-4774-ad79-9e840770572f"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.jobs",
        "options": {}
      },
      "id": "95a74dd5-9557-45d9-baad-620fce4b8569",
      "name": "Split Out Jobs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "Job Title",
              "value": "={{ $json.job_title }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "Company",
              "value": "={{ $json.employer_name }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "Location",
              "value": "={{ [$json.job_city, $json.job_state, $json.job_country].filter(Boolean).join(', ') }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "Employment Type",
              "value": "={{ $json.job_employment_type }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "Posted Date",
              "value": "={{ $json.job_posted_human_readable || $json.job_posted_at_datetime_utc }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "Salary",
              "value": "={{ $json.job_min_salary && $json.job_max_salary ? (($json.job_salary_currency || '') + ' ' + $json.job_min_salary + '-' + $json.job_max_salary + ($json.job_salary_period ? ' / ' + $json.job_salary_period : '')).trim() : 'Not specified' }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "Apply Link",
              "value": "={{ $json.job_apply_link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3424c4e7-5ec4-44a7-9c4c-82a45273ce71",
      "name": "Format for Marketing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        256
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "job_postings.xlsx"
        }
      },
      "id": "65166c87-4b9b-482c-a919-4ef3f4e57822",
      "name": "Convert to Excel",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        960,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = ($('Receive Submission').first().json.body) || {};\nconst items = $('Format for Marketing').all();\nconst jsearchJson = $('JSearch- Fetch Job Postings').first().json;\nconst nextCursor = jsearchJson && jsearchJson.data && jsearchJson.data.cursor;\n\nconst esc = (v) => String(v == null ? '' : v).replace(/[&<>]/g, c => ({'&':'&amp;','<':'&lt;','>':'&gt;'}[c]));\n\nlet excelBase64 = '';\nif (items.length > 0) {\n  const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n  excelBase64 = buffer.toString('base64');\n}\n\nconst batchNumber = parseInt(body.page_display, 10) || 1;\nconst numPages = parseInt(body.num_pages, 10) || 1;\nconst searchLabel = body.city ? (body.job_title + ' in ' + body.city) : body.job_title;\n\nconst carryFields = ['job_title','city','country','language','date_posted','work_from_home','employment_types','job_requirements','radius'];\n\nfunction hiddenInputs() {\n  let out = '';\n  for (const f of carryFields) {\n    const v = body[f];\n    if (v !== undefined && v !== null && v !== '') {\n      out += '<input type=\"hidden\" name=\"' + f + '\" value=\"' + esc(v) + '\">';\n    }\n  }\n  out += '<input type=\"hidden\" name=\"num_pages\" value=\"' + esc(numPages) + '\">';\n  out += '<input type=\"hidden\" name=\"cursor\" value=\"' + esc(nextCursor || '') + '\">';\n  out += '<input type=\"hidden\" name=\"page_display\" value=\"' + esc(batchNumber + 1) + '\">';\n  return out;\n}\n\nconst columnLabels = ['Job Title', 'Company', 'Location', 'Type', 'Posted', 'Salary'];\nconst headerHtml = columnLabels.map((label, i) => '<th data-col=\"' + i + '\" onclick=\"sortTable(' + i + ')\">' + label + '<span class=\"sort-indicator\"></span></th>').join('') + '<th>Apply</th>';\n\nconst rowsHtml = items.map(item => {\n  const j = item.json;\n  return '<tr>' +\n    '<td>' + esc(j['Job Title']) + '</td>' +\n    '<td>' + esc(j['Company']) + '</td>' +\n    '<td>' + esc(j['Location']) + '</td>' +\n    '<td><span class=\"badge\">' + esc(j['Employment Type']) + '</span></td>' +\n    '<td>' + esc(j['Posted Date']) + '</td>' +\n    '<td>' + esc(j['Salary']) + '</td>' +\n    '<td><a href=\"' + esc(j['Apply Link']) + '\" target=\"_blank\" rel=\"noopener\">Apply</a></td>' +\n  '</tr>';\n}).join('');\n\nconst exportBtn = items.length === 0 ? '' :\n  '<a class=\"secondary export-btn\" download=\"job_postings.xlsx\" href=\"data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,' + excelBase64 + '\">Export all ' + items.length + ' to Excel</a>';\n\nconst paginationBar = items.length === 0 ? '' :\n  '<div class=\"pagination-bar\">' +\n    '<span id=\"totalResultsLabel\"></span>' +\n    '<div class=\"page-nav\">' +\n      '<button type=\"button\" id=\"prevPageBtn\" onclick=\"prevPage()\">&larr; Prev</button>' +\n      '<span id=\"pageInfo\"></span>' +\n      '<button type=\"button\" id=\"nextPageBtn\" onclick=\"nextPage()\">Next &rarr;</button>' +\n      '<label>Go to page <input type=\"number\" id=\"gotoPageInput\" min=\"1\" onkeyup=\"if(event.key===\\'Enter\\')gotoPage()\"></label>' +\n      '<button type=\"button\" onclick=\"gotoPage()\">Go</button>' +\n    '</div>' +\n  '</div>';\n\nconst tableHtml = items.length === 0\n  ? '<p>No job postings found for that search. Try a different keyword.</p>'\n  : '<div class=\"toolbar\"><input type=\"text\" id=\"filterInput\" placeholder=\"Filter results...\" onkeyup=\"filterTable()\">' + exportBtn + '</div>' +\n    paginationBar +\n    '<table id=\"resultsTable\"><thead><tr>' + headerHtml + '</tr></thead><tbody>' + rowsHtml + '</tbody></table>';\n\nconst loadMoreHtml = !nextCursor ? '' :\n  '<div class=\"load-more\">' +\n    '<p class=\"hint\">Loaded ' + items.length + ' results from JSearch so far (batch ' + batchNumber + ').</p>' +\n    '<form method=\"POST\" action=\"/webhook/job-search\">' + hiddenInputs() +\n      '<button type=\"submit\" class=\"secondary\">Fetch Next Batch from JSearch &rarr;</button>' +\n    '</form>' +\n  '</div>';\n\nconst css = `\n:root{--accent:#2563eb;--accent-dark:#1e4fca;--border:#e2e2e2;--bg:#f7f8fa;--text:#1f2430;--muted:#6b7280;}\n*{box-sizing:border-box;}\nbody{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;margin:0;background:var(--bg);color:var(--text);}\n.container{max-width:1000px;margin:40px auto;padding:0 20px;}\nh1{font-size:26px;margin-bottom:4px;}\np.hint{color:var(--muted);font-size:14px;margin-top:0;}\ntable{border-collapse:collapse;width:100%;font-size:13px;margin-top:10px;background:#fff;}\nth,td{padding:8px 10px;border:1px solid var(--border);text-align:left;}\nth{background:#f0f2f5;cursor:pointer;user-select:none;white-space:nowrap;}\nth:hover{background:#e6e9ee;}\n.badge{display:inline-block;padding:2px 8px;border-radius:12px;background:#e8f0fe;color:var(--accent-dark);font-size:12px;font-weight:600;}\n.toolbar{display:flex;gap:10px;align-items:center;margin-top:16px;flex-wrap:wrap;}\n#filterInput{max-width:280px;padding:8px 10px;border:1px solid var(--border);border-radius:6px;font-size:14px;}\n.pagination-bar{display:flex;justify-content:space-between;align-items:center;margin-top:14px;flex-wrap:wrap;gap:10px;font-size:13px;color:var(--muted);}\n.page-nav{display:flex;align-items:center;gap:8px;}\n.page-nav label{font-weight:normal;display:inline-flex;align-items:center;gap:6px;font-size:13px;color:var(--text);}\n.page-nav input[type=number]{width:60px;padding:5px 6px;margin:0;}\n.page-nav button{padding:5px 12px;background:#fff;color:var(--accent);border:1px solid var(--accent);border-radius:6px;cursor:pointer;font-size:13px;font-weight:600;}\n.page-nav button:disabled{opacity:.4;cursor:default;}\n.load-more{margin-top:22px;padding-top:14px;border-top:1px solid var(--border);}\n.secondary{display:inline-block;padding:8px 16px;background:#fff;color:var(--accent);border:1px solid var(--accent);border-radius:6px;cursor:pointer;font-size:14px;font-weight:600;text-decoration:none;}\n.secondary:hover{background:#f0f6ff;}\n.export-btn{margin-left:auto;}\na.back{display:inline-block;margin-top:20px;color:var(--accent);text-decoration:none;font-weight:600;}\na.back:hover{text-decoration:underline;}\n`;\n\nconst script = `\n<script>\nvar PAGE_SIZE=10;\nvar currentPage=1;\nfunction getFilteredRows(){\n  var filter=document.getElementById('filterInput').value.toLowerCase();\n  var allRows=Array.prototype.slice.call(document.querySelectorAll('#resultsTable tbody tr'));\n  return allRows.filter(function(row){ return !filter || row.textContent.toLowerCase().indexOf(filter) > -1; });\n}\nfunction renderPage(){\n  var filtered=getFilteredRows();\n  var totalResults=filtered.length;\n  var totalPages=Math.max(1, Math.ceil(totalResults / PAGE_SIZE));\n  if(currentPage>totalPages) currentPage=totalPages;\n  if(currentPage<1) currentPage=1;\n  var allRows=Array.prototype.slice.call(document.querySelectorAll('#resultsTable tbody tr'));\n  allRows.forEach(function(row){ row.style.display='none'; });\n  var start=(currentPage-1)*PAGE_SIZE;\n  filtered.slice(start, start+PAGE_SIZE).forEach(function(row){ row.style.display=''; });\n  document.getElementById('pageInfo').textContent='Page '+currentPage+' of '+totalPages;\n  document.getElementById('totalResultsLabel').textContent=totalResults+' result'+(totalResults===1?'':'s')+' loaded';\n  document.getElementById('prevPageBtn').disabled = currentPage<=1;\n  document.getElementById('nextPageBtn').disabled = currentPage>=totalPages;\n  var gotoInput=document.getElementById('gotoPageInput');\n  gotoInput.value=currentPage;\n  gotoInput.max=totalPages;\n}\nfunction filterTable(){ currentPage=1; renderPage(); }\nfunction prevPage(){ currentPage--; renderPage(); }\nfunction nextPage(){ currentPage++; renderPage(); }\nfunction gotoPage(){\n  var val=parseInt(document.getElementById('gotoPageInput').value, 10);\n  if(!isNaN(val)){ currentPage=val; renderPage(); }\n}\nvar sortState={};\nfunction sortTable(colIndex){\n  var table=document.getElementById('resultsTable');\n  var tbody=table.querySelector('tbody');\n  var rows=Array.prototype.slice.call(tbody.querySelectorAll('tr'));\n  var asc = !sortState[colIndex];\n  sortState={};\n  sortState[colIndex]=asc;\n  rows.sort(function(a,b){\n    var av=a.children[colIndex].textContent.trim().toLowerCase();\n    var bv=b.children[colIndex].textContent.trim().toLowerCase();\n    if(av<bv) return asc?-1:1;\n    if(av>bv) return asc?1:-1;\n    return 0;\n  });\n  rows.forEach(function(row){ tbody.appendChild(row); });\n  var indicators=table.querySelectorAll('.sort-indicator');\n  indicators.forEach(function(s){ s.textContent=''; });\n  var activeTh=table.querySelector('th[data-col=\"'+colIndex+'\"] .sort-indicator');\n  if(activeTh) activeTh.innerHTML = asc ? '&#9650;' : '&#9660;';\n  renderPage();\n}\nif(document.getElementById('resultsTable')) renderPage();\n</script>\n`;\n\nconst html = '<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Job Search Results</title><style>' + css + '</style></head><body><div class=\"container\"><h1>Job Search Results</h1><p class=\"hint\">Results for \"' + esc(searchLabel) + '\"</p>' + tableHtml + loadMoreHtml + '<a class=\"back\" href=\"/webhook/job-search\">&larr; New search</a></div>' + script + '</body></html>';\n\nreturn [{ json: { html } }];\n"
      },
      "id": "a0014570-4156-463f-8e84-f28d7216fb23",
      "name": "Build Results HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        256
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "360b68fd-9dc5-4391-ac99-fe38ffeca9d3",
      "name": "Respond With Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1440,
        256
      ]
    },
    {
      "parameters": {
        "url": "https://jsearch.p.rapidapi.com/search-v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.body.city ? ($json.body.job_title + ' in ' + $json.body.city) : $json.body.job_title }}  "
            },
            {
              "name": "country",
              "value": "={{ $json.body.country || undefined }}"
            },
            {
              "name": "language",
              "value": "={{ $json.body.language || undefined }}"
            },
            {
              "name": "date_posted",
              "value": "={{ $json.body.date_posted || undefined }}"
            },
            {
              "name": "work_from_home",
              "value": "={{ $json.body.work_from_home || undefined }}"
            },
            {
              "name": "employment_types",
              "value": "={{ $json.body.employment_types || undefined }}"
            },
            {
              "name": "job_requirements",
              "value": "={{ $json.body.job_requirements || undefined }}"
            },
            {
              "name": "radius",
              "value": "={{ $json.body.radius || undefined }}"
            },
            {
              "name": "num_pages",
              "value": "={{ $json.body.num_pages || 1 }}"
            },
            {
              "name": "cursor",
              "value": "={{ $json.body.cursor || undefined }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        256
      ],
      "id": "af9b3042-e8a8-489b-b48d-c33751e85593",
      "name": "JSearch- Fetch Job Postings",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lBZSjEeBokoEPEpb",
          "name": "Header Auth account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Serve Form Page": {
      "main": [
        [
          {
            "node": "Respond With Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Jobs": {
      "main": [
        [
          {
            "node": "Format for Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Marketing": {
      "main": [
        [
          {
            "node": "Convert to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Excel": {
      "main": [
        [
          {
            "node": "Build Results HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Results HTML": {
      "main": [
        [
          {
            "node": "Respond With Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Submission": {
      "main": [
        [
          {
            "node": "JSearch- Fetch Job Postings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSearch- Fetch Job Postings": {
      "main": [
        [
          {
            "node": "Split Out Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c65d0b95-ecd9-42af-aa7a-f13f88e61547",
  "meta": {
    "instanceId": "2d4424deb411d39029f2bb914423d9e269d0402d69a6f47727eddca88f18a6db"
  },
  "id": "PuHMQMExH6XYi7YE",
  "tags": []
}